/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = darken(#FDCC00, 15%)
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34
